body{
background-image:url('image/Aa.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  height:100vh;
}
nav{
  background-color: palevioletred;
  font-size:20px;
  width:100%;
  display:flex;
  justify-content: center;
  color: whitesmoke;
}
nav li{
  display:inline-block;
  margin:0 7px;
}
nav a{
  text-decoration:none;
  color:black;

}
.logo{
  font-size:35px;
  font-weight:bolder;
         align-self: flex-start;
       margin:10px 0px 0px 30px;

}
nav a:hover{
  color:wheat;
}
.menu-line{
  height:2px;
  width:20px;
  background-color: black;
  margin-bottom: 3px;
}
.menu{
  cursor: pointer;
  display:none;
}
  
   @media all and (max-width:640px){
     nav{
       flex-direction:column;
     }
     nav li{
       display:block;
       padding:10px 0;
       
     }
     ul{
       text-align:center;
       padding: 0;
       display:none;
       
     }
.menu{
  display:block;
  position:absolute;
  right:20px;
  top:20px;
}
  .showmenu{
      display: block;
    } 
 .content-wrapper {
  min-height: 65%;
  margin-bottom: -50px; 
  padding-bottom: 40px; 
  flex:1;
  
}  
   
   footer {
    background-color: palevioletred;
    color: black;
    text-align: center;
    padding: 25px 0;
    font-size: 16px;
}

footer .contact p {
    margin: 5px 0;
}


.copy-right {
    margin-top: 5px;
}

   
   
   
   
   
   

.error{
  color:red;
}

}